<!DOCTYPE html>
<html lang="en">
  <style>
    table, th, td {
      border: 1px solid navy;
      text-align: center;
      padding: 8px;
    }

    p{
      text-align: center;
      padding: 7px;
    }

    .center{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    button{
      margin: 5px;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>My Watch List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  </head>
  <body>
    <table align="center">
      <tr>
        <th>Watched</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
        <th>Images</th>
      </tr>
      
      {% for item in list_film %}
      <tr>
        <td>{{item.watched}}</td>
        <td>{{item.title}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.release_date}}</td>
        <td>{{item.review}}</td>
      </tr>
      {% endfor %}
      
    </table>
    
    <div class = "center">
      <button>View</button>
      <button>Edit</button>
      <button>Delete</button>
    </div>
    

  </body>
</html>
