<!DOCTYPE html>
<html lang="en">
  <style>
    table, th, td {
      border: 1px solid navy;
      text-align: center;
      padding: 8px;
    }

    p{
      text-align: center;
      padding: 7px;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <title>My Watch List</title>
  </head>
  <body>
    <table align="center">
      <tr>
        <th>Watched</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
        <th>Images</th>
      </tr>
      <!-- TODO loop from MyWatchList model -->
      <!-- EXAMPLE SECTION -->
      
      {% for item in list_film %}
      <tr>
        <td>{{item.watched}}</td>
        <td>{{item.title}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.release_date}}</td>
        <td>{{item.review}}</td>
        <td><img src="{{item.image_content.url}}" alt="lab5 image" width="150" height="150"></td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
    <p>
      <a href="/lab-5/add">Add Review</a>
      ||
      <a href="/lab-5/watchlist">Lihat Dalam Bentuk Card</a>
    </p>
  </body>
</html>
